{{ define "main" }}

{{- $paginator := .Paginate .Pages }}
<div class="main-container fund-padding-top">
    <div class="left-container fund-border" style="min-height: 84vh">
        <div id="about-title" class="title-container fund-title">
            {{ .Title }}
        </div>

        <div class="post-container friend-content">
            {{ .Content }}
        </div>

        <div class="friends-container shadow-a">
            {{ $paginator := .Paginate (where .Site.RegularPages "Type" "posts") 16 }}
            {{ range $paginator.Pages }}
            {{- $avatar := default "/images/default/avatar.jpg" .Params.avatar -}}
            <a class="friend-card" href="{{ .Params.linkTo }}">
                <div>
                    <img class="friend-card-image" src="{{ $avatar }}">
                </div>
                <div class="friend-card-meta">
                    <div class="fund-title">
                        {{ .Params.name }}
                    </div>
                    <div class="fund-secondary friends-description">
                        {{ .Params.summary }}
                    </div>
                </div>
            </a>
            {{- end }}
        </div>
        {{ partial "pagination.html" . }}
        {{ partial "comments.html" . }}
    </div>

</div>
{{ end }}