.git {
    display: flex;
    gap: 1rem;
    border: 1px solid #ececec;
    padding: 1rem;
    border-radius: 3px;
    margin: 2rem 1.5rem;
    transition: .5s;
}

.dark .git {
    border: 1px solid rgb(88, 88, 88);
}

.git-platform-icon {
    width: 3.2rem;
    height: 3.2rem;
}

.gitee .git-platform-icon {
    fill: #C71D23;
}

.dark .git-platform-icon {
    fill: #e6edf3;
}

.dark .gitee .git-platform-icon {
    fill: rgba(199, 29, 35, .9);
}

.git-info {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.git-repo-name a {
    font-size: 1.8rem;
    color: #3478CD;
    text-decoration: none;
}

.git-repo-name a:hover {
    box-shadow: 0 1px var(--primary-hover-color);
    color: var(--primary-hover-color);
}

.git-description {
    font-size: 1.4rem;
}

.dot {
    width: 1.4rem;
    height: 1.4rem;
    border-radius: 50%;
}

.git-extend {
    font-size: 1.4rem;
    color: #999999;
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.git-language {
    display: flex;
    align-items: center;
    gap: .5rem;
}

.git-count {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.git-count-item {
    display: flex;
    align-items: center;
    gap: .5rem;
}

.git-count-item-icon {
    fill: #999999;
    width: 1.6rem;
    height: 1.6rem;
}

.git-error {
    color: #ff1744;
}

.loading,
.loading > div {
    position: relative;
    box-sizing: border-box;
}

.loading {
    display: block;
    font-size: 0;
    color: #000;
}

.dark .loading {
    color: #fff;
}

.loading > div {
    display: inline-block;
    float: none;
    background-color: currentColor;
    border: 0 solid currentColor;
}

.loading {
    width: 3.2rem;
    height: 3.2rem;
}

.loading > div {
    position: absolute;
    top: 50%;
    left: 50%;
    width: .8rem;
    height: .8rem;
    margin-top: -.4rem;
    margin-left: -.4rem;
    border-radius: 100%;
    animation: loading-frames 1s infinite ease-in-out;
}

.loading > div:nth-child(1) {
    top: 5%;
    left: 50%;
    animation-delay: -0.875s;
}

.loading > div:nth-child(2) {
    top: 18%;
    left: 81%;
    animation-delay: -0.75s;
}

.loading > div:nth-child(3) {
    top: 50%;
    left: 95%;
    animation-delay: -0.625s;
}

.loading > div:nth-child(4) {
    top: 81%;
    left: 81%;
    animation-delay: -0.5s;
}

.loading > div:nth-child(5) {
    top: 94%;
    left: 50%;
    animation-delay: -0.375s;
}

.loading > div:nth-child(6) {
    top: 81%;
    left: 18%;
    animation-delay: -0.25s;
}

.loading > div:nth-child(7) {
    top: 49%;
    left: 5%;
    animation-delay: -0.125s;
}

.loading > div:nth-child(8) {
    top: 18%;
    left: 18%;
    animation-delay: 0s;
}

.loading.la-sm {
    width: 1.6rem;
    height: 1.6rem;
}

.loading.la-sm > div {
    width: .4rem;
    height: .4rem;
    margin-top: -.2rem;
    margin-left: -.2rem;
}

.loading.la-2x {
    width: 6.4rem;
    height: 6.4rem;
}

.loading.la-2x > div {
    width: 1.6rem;
    height: 1.6rem;
    margin-top: -.8rem;
    margin-left: -.8rem;
}

.loading.la-3x {
    width: 9.6rem;
    height: 9.6rem;
}

.loading.la-3x > div {
    width: 2.4rem;
    height: 2.4rem;
    margin-top: -1.2rem;
    margin-left: -1.2rem;
}

@keyframes loading-frames {
    0%,
    100% {
        opacity: 1;
        transform: scale(1);
    }

    20% {
        opacity: 1;
    }

    80% {
        opacity: 0;
        transform: scale(0);
    }
}