.author-info {
    padding: 1rem 1rem 0;
}

#author-info-swiper {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#author-info-swiper .swiper-pagination {
    position: relative;
    margin-top: 1rem;
    margin-bottom: 0;
}

.author-info .avatar {
    padding: 0.2rem;
}

.author-info img {
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    transition: transform 0.5s ease;
}

.author-info img:hover {
    transform: scale(1.05);
}

.one-author-container {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    align-items: center;
    justify-content: center;
}

.social {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.social-item:hover {
    cursor: pointer;
    transform: translateY(-0.3rem);
    transition: 0.3s ease-in-out;
}