.copyright {
    margin-top: 2em;
    font-size: 1rem;
}

.copyright hr {
    border-style: dashed;
    color: var(--blockquote-border-color);
}

.copyright blockquote {
    margin: 1rem 0;
    padding: 0 1rem;
    border-inline-start: .3rem solid var(--blockquote-border-color);
}

.copyright a {
    box-shadow: 0 .1rem;
    box-decoration-break: clone;
    -webkit-box-decoration-break: clone;
}