.friends-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4列 */
    grid-template-rows: repeat(2, 1fr); /* 2行 */
    justify-content: center;
    place-items: center;
    gap: 2rem;
    min-height: 30rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

.friend-content {
    text-align: left;
    padding-left: 2rem;
    padding-right: 2rem;
}

.friend-card {
    padding: 0.5rem;
    border: 1px solid var(--board-color);
    border-radius: 1.2rem;
    gap: 0.5rem;
    display: flex;
    flex-direction: column;
    width: 14rem;

    img {
        height: 10rem;
        width: 10rem;
        border-radius: 2rem;
    }
}

.friend-card:hover {
    transform: translateY(-1rem);
    transition: 0.3s ease-in-out;
}

.friend-card-meta {
    display: flex;
    flex-direction: column;
}

.friends-description {
    text-align: left;
}