.header-container {
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    text-align: center;
    flex-direction: row;
    align-items: center;
    /*padding: 0.2rem 1rem;*/
    /*background-color: var(--header-bg-color);*/
    /*border-bottom: 1px solid var(--divider-color);*/
    /*background-color: black;*/
    position: fixed;
    width: 100%;
    z-index: 99;
    backdrop-filter: blur(5px);
}

.header-title-container {
    flex: 1;
    display: flex;
    flex-direction: row;
    text-align: left;
    justify-content: left;
    gap: 0.3rem;
    align-items: center;
    margin-left: 2rem;
}

.site-title-container {
    display: flex;
    flex-direction: row;
    gap: 0.3rem;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.header-container a {
    color: var(--primary);
}

.header-container a:hover {
    color: var(--primary);
}

.header-icon {
    height: 2rem;
    width: 2rem;
}

.header-title {
    font-size: 1.5rem;
}

.nav-container {
    flex: 1;
    display: flex;
    justify-content: right;
    align-items: center;
    margin-right: 2rem;
}

.header-center-container {
    flex: 1;
}

.toggle {
    margin-left: 0.5rem;
}

.toggle:hover {
    cursor: pointer;
}

.toggle-icon {
    display: none;
}

.toggle-icon.active {
    display: block;
}

.header-center-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-center-board {
    width: fit-content;
    transform: scale(0); /* 初始状态为缩放为0 */
    opacity: 0; /* 初始状态为完全透明 */
    background-color: var(--theme-secondary);
    font-weight: bold;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 0.7rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-center-board.hidden {
    animation: hidden 0.3s forwards;
}

.header-center-board.show {
    animation: show 0.3s forwards;
}

@keyframes show {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 100;
    }
}

@keyframes hidden {
    0% {
        transform: scale(1);
        opacity: 100;
    }
    100% {
        transform: scale(0);
        opacity: 0;
    }
}