.article-list-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1rem;
}

.pagination {
    justify-content: center;
}

#running-time {
    margin-bottom: 0.5rem;
    height: 1.5rem;
}