.last-update {
    height: 30vh;
}

.last-update a:hover {
    color: var(--primary) !important;
}

#last-update-swiper {
    height: 100%;
    width: 100%;
}

.top-post-meta {
    height: 30vh;
    padding: 0 2rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.top-post-meta {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 2rem;
}

.top-post-meta img {
    height: 9rem;
    width: 16rem;
    border-radius: 1.2rem;
    transform: scale(1.05);
    object-fit: cover;
}

.top-post-meta-info-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: left;
    height: 14rem;
}

.top-post-summary {
    font-size: 0.9rem;
}

.top-post-meta-item-group {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 1rem;
}

.top-post-authors {
    padding: 0.2rem 0.2rem 0.2rem 0;
}

.top-post-tags {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1.5rem;
    margin-left: 0.3rem;
}

.top-post-tags .one-tag {
    display: flex;
    gap: 0.2rem;
    border-radius: 0.2rem;
}

.top-post-meta-item {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}

.top-post-meta .inline-svg svg {
    display: inline-block;
    width: 1.2rem;
    height: 1.2rem;
    vertical-align: middle;
}

