.list-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.list-content-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    width: 70vw;
}