:root {
    --md-link-color: var(--link-color);
    --md-link-color-hover: var(--link-hover-color);
    --blockquote-border-color: #8a5be3;
    --blockquote-bg-color: #f1eae1;
    --table-border-color: var(--primary);
    --th-background-color: #f0f0f0;
    --code-bg-color: var(--blockquote-bg-color);
    --code-border-color: var(--primary);
}

.dark {
    --md-link-color: var(--link-color);
    --md-link-color-hover: var(--link-hover-color);
    --blockquote-border-color: #04c755;
    --blockquote-bg-color: #3d3e41;
    --table-border-color: var(--primary);
    --th-background-color: #464646;
    --code-bg-color: var(--blockquote-bg-color);
    --code-border-color: var(--primary);
}

.post-container {
    a {
        color: var(--md-link-color);
    }

    a:hover {
        color: var(--md-link-color-hover);
    }

    h1, h2, h3, h4, h5, h6 {
        margin-bottom: 0.6rem;
        font-weight: bold;
        scroll-margin-top: calc(var(--header-height) + 1rem); /* 控制目录 */
    }
    h1 { font-size: 2.2rem; }
    h2 { font-size: 2rem; }
    h3 { font-size: 1.8rem; }
    h4 { font-size: 1.5rem; }
    h5 { font-size: 1.2rem; }
    h6 { font-size: 1.1rem; }

    /* 段落 */
    p {
        margin-bottom: 0.5rem;
    }

    /* 强调 */
    strong {
        font-weight: bold;
    }
    em {
        font-style: italic;
    }

    /* 列表 */
    ul, ol {
        margin-left: 1rem;
        margin-bottom: 1rem;
    }
    ul li, ol li {
        margin-bottom: 0.4rem;
    }

    /* 代码块 */
    pre {
        background-color: var(--code-bg-color);
        padding: 0 0.8rem;
        overflow-x: auto;
        margin-bottom: 15px;
    }
    code {
        font-family: Consolas, Monaco, 'Firi Code', monospace;
        background-color: var(--code-bg-color);
        border-radius: 3px;
        padding-left: 0.2rem;
        padding-right: 0.2rem;
    }

    /* 图片 */
    img {
        max-width: 100%;
        height: auto;
        margin-bottom: 0.5rem;
    }

    /* 引用 */
    blockquote {
        border-left: 4px solid var(--blockquote-border-color);
        padding-left: 1rem;
        padding-bottom: 0.3rem;
        padding-top: 0.3rem;
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 0.5rem;
        border-radius: 5px;
        background: var(--blockquote-bg-color);
        p {
            margin: 0;
        }
    }

    /* 表格 */
    table {
        width: 100%;
        border-collapse: collapse;
        margin-bottom: 0.8rem;
    }
    th, td {
        border: 1px solid var(--table-border-color);
        padding: 0.5rem;
        text-align: left;
    }
    th {
        background-color: var(--th-background-color);
    }

    .fund-code-container {
        display: flex;
        flex-direction: column;
        gap: 0;
        border-radius: 1rem;
        border: 1px solid var(--code-border-color);
        background: var(--code-bg-color);

        margin-bottom: 1rem;
    }

    .fund-code-header {
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
        height: 1.5rem;

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        #code-lights {
            height: 1rem;
            width: 4rem;
        }

        .fund-code-header-left-container {
            padding-left: 0.5rem;
            width: 10rem;
            display: flex;
            flex-direction: row;
            align-items: center;
        }

        .fund-code-header-right-container {
            padding-right: 1rem;
            width: 10rem;
            display: flex;
            justify-content: flex-end;
            gap: 1rem;

            svg path {
                fill: var(--code-bg-color);
            }

            .fold-btn:hover,
            .copy-btn:hover {
                cursor: pointer;
            }

            .fold-btn svg {
                transition: transform 0.3s ease; /* 平滑旋转效果 */
            }

            /* 旋转180度表示展开状态 */
            .fold-btn.open svg {
                transform: rotate(90deg);
            }
        }
    }

    .fund-code-content {
        margin: 0 1rem;

        .highlight {

        }

        pre {
            margin: 0;
            max-height: 0;
            border: none;
            transition: max-height 0.3s ease-in-out;
        }

        pre.open {
            max-height: 60vh;
        }
    }

    ::-webkit-scrollbar-track {
        background: var(--code-bg-color);
    }
}

