.pagination-nav .page-item {
    display: inline-block;
    margin: 0 5px;
}

.pagination-nav .page-link {
    display: block;
    padding: 5px 10px;
    text-decoration: none;
    color: var(--primary);
    border: 1px solid #ddd;
    border-radius: 3px;
}

.pagination-nav .page-link:hover {
    background-color: var(--nav-active-hover);
    color: var(--primary);
    border-color: var(--nav-active-hover);
}

.pagination-nav .page-item.active .page-link {
    background-color: var(--nav-active);
    color: var(--primary);
    border-color: var(--nav-active);
}

.pagination-nav .page-item.disabled .page-link {
    color: #ccc;
    cursor: not-allowed;
}
