.meta-info {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 1rem;
}

.post-meta .inline-svg svg {
    display: inline-block;
    width: 1.2rem;
    height: 1.2rem;
    vertical-align: middle;
}

.post-tags {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    margin-left: 0.3rem;
}

.list-post-meta {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 1rem;
    row-gap: 0.2rem;
}