#site-info {
    text-align: center;
}

.site-info-items {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    gap: 0.5rem;
    width: 100%;
    margin-bottom: 0.5rem;
}

.site-info-item {
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}