:root {
    font-size: 16px;
    --secondary-font-size: 0.8rem;
    --title-font-size: 1.2rem;
    --header-height: 3rem;
}

@media (min-width: 2560px) {
    :root {
        font-size: 0.8vh;
    }
}

:root {
    --primary: #333;
    --secondary: #3a3a3a;
    --theme: #fa9140;
    --theme-secondary: #4b6cfa;
    --board-color: #565656;
    --background-color: #fcf9f0;
    --backgroud--mask-alpha20: rgba(253, 244, 230, 0.2);
    --backgroud--mask-alpha80: rgba(253, 244, 230, 0.8);
    --background-2-color: linear-gradient(to top, var(--backgroud--mask-alpha20) 50vh, var(--backgroud--mask-alpha80));
    --post-item-background-color: var(--backgroud--mask-alpha80);
    --divider-color: var(--primary);
    --link-color: var(--theme-secondary);
    --link-hover-color: var(--theme);
    --nav-active: #adadad;
    --nav-active-hover: var(--nav-active);
    --fill-color: var(--background-color);
    --stroke-color: var(--primary);
    --swiper-pagination-bullet-inactive-color: var(--primary);
    --tk-code-color: #cf222e;
}

.dark {
    --primary: #E6E6E6;
    --secondary: #B4B4B4;
    --theme: #F6B17A;
    --theme-secondary: #899be5;
    --board-color: #6c6c6c;
    --background-color: #282828;
    --backgroud--mask-alpha20: rgba(40, 40, 40, 0.2);
    --backgroud--mask-alpha80: rgba(40, 40, 40, 0.8);
    --background-2-color: linear-gradient(to top, var(--backgroud--mask-alpha20) 50vh, var(--backgroud--mask-alpha80));
    --post-item-background-color: var(--backgroud--mask-alpha80);
    --divider-color: var(--primary);
    --link-color: var(--theme-secondary);
    --link-hover-color: var(--theme);
    --nav-active: #505050;
    --nav-active-hover: var(--nav-active);
    --fill-color: var(--background-color);
    --stroke-color: var(--primary);
    --swiper-pagination-bullet-inactive-color: var(--primary);
    --tk-code-color: #ff7b72;
}