.toc {
    height: 25rem;
}

.toc-content {
    overflow-y: auto;
    margin-bottom: 0.7rem;
}

.toc-content {
    nav {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        text-align: left;
    }
    ul {
        list-style: none;

    }
    ul ul {
        padding-inline-start: 1rem;
    }
    /* 一级目录 */
    nav > ul {
        padding: 0;
        margin: 0;
    }

    a.active {
        font-size: 120%;
        font-weight: bold;
        color: var(--theme);
    }

    ::-webkit-scrollbar {
        margin-bottom: 0.3rem;
    }
}
