<div class="author-info">
    <img src="/author.jpeg" class="author-avatar" />
    <div class="last-mod">
        <div>
            <div class="custom-divider"></div>
            <div class="last-mod-title">👋欢迎来到我的技术博客🌟</div>
            <div class="custom-divider"></div>
        </div>
        <div class="last-mod-table">
            <div class="last-mod-item">
                <div class="last-mod-item-tile">这是一片专注于前沿技术探索的园地，涵盖：</div>
            </div>
            <div class="last-mod-item">
                <div class="last-mod-item-tile">
                    <ul>
                        <li>
                            Web3与区块链(BTC、ETH、区块链基础设施)
                        </li>
                        <li>
                            后端技术栈(Java、Go、Python)
                        </li>
                        <li>
                            人工智能与数据科学(ML、DL、数据挖掘)
                        </li>
                        <li>
                            系统安全与运维(服务器、网络、容器化)
                        </li>
                    </ul>

                </div>
            </div>
        </div>
        <div>
            <div class="custom-divider"></div>
            <div class="last-mod-title">📫 联系方式</div>
            <div class="custom-divider"></div>
        </div>
        <div class="last-mod-table">
            <div class="last-mod-item">
                <div class="last-mod-item-tile">
                    <ul>
                        <li>
                            通过 <a href="https://github.com/CipherMagic" target="_blank" rel="noopener noreferrer me"
                                title="GitHub">GitHub</a> 关注我的最新项目
                        </li>
                        <li>
                            在 <a href="https://x.com/0xCipherMagic" target="_blank" rel="noopener noreferrer me"
                                title="Twitter/X">Twitter/X</a> 与我交流技术见解
                        </li>
                        <li>
                            通过 <a href="https://t.me/ciphermagic" target="_blank" rel="noopener noreferrer me"
                                title="Telegram">Telegram</a> 进行实时交流
                        </li>
                        <li>
                            发送邮件至 <a href="mailto:ciphermagic@gmail.com" target="_blank" rel="noopener noreferrer me"
                                title="Email">ciphermagic@gmail.com</a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</div>