{{ define "main" }}
<article class="post-single">
  <div class="post-content">
    <!-- 腾讯公益 404 开始 -->
    <script type="text/plain"
            src="//qzonestyle.gtimg.cn/qzone/hybrid/app/404/search_children.js"
            charset="utf-8"
            homePageUrl="{{ "" | absURL }}"
            homePageName="回到首页">
    </script>
    <script src="//qzone.qq.com/gy/404/data.js" charset="utf-8"></script>
    <script src="//qzone.qq.com/gy/404/page.js"  charset="utf-8"></script>
    <!-- 腾讯公益 404 结束 -->
  </div>
</article>
{{ end }}