<div class="header-container">
    <div class="header-title-container" >
        <a class="site-title-container" href="/">
            {{ $icon := .Site.Params.icon | default "" }}
            {{- if ne $icon "" -}}
            <div class="header-icon">
                <img class="header-icon" src="{{ .Site.Params.icon }}">
            </div>
            {{- end }}
            <div class="header-title">{{ site.Title }}</div>
        </a>
        {{ $theme := .Site.Params.Theme | default "light" }}
        <div class="toggle" id="toggle-button">
            <div id="light-mode-icon" class="toggle-icon {{- if (eq $theme "light") }} active{{- end}}">{{ partial "icon.html" "moon" }}</div>
            <div id="dark-mode-icon" class="toggle-icon {{- if (eq $theme "dark") }} active{{- end}}">{{ partial "icon.html" "sun" }}</div>
        </div>
    </div>
    <div class="header-center-container">
        <div class="header-center-board">
            <span id="header-center-text"></span>
        </div>
    </div>
    <div class="nav-container">
        {{ partial "header/menu.html" (dict "menuID" "main" "page" .) }}
    </div>
</div>
