{{ $defaultFoldMod := .Page.Param "codeBlockFoldMode" | default false }}

{{- $lang := .Type | default "text" }}
{{- $title := .Attributes.title | default "" }}
{{ $foldMode := .Attributes.fold | default $defaultFoldMod }}

<div class="fund-code-container">
    <div class="fund-code-header">
        <div class="fund-code-header-left-container">
            <svg id="code-lights" xmlns="http://www.w3.org/2000/svg" version="1.1"  x="0px" y="0px" viewBox="0 0 450 130">
                <ellipse cx="65" cy="65" rx="50" ry="52" stroke="rgb(220,60,54)" stroke-width="2" fill="rgb(237,108,96)"/>
                <ellipse cx="225" cy="65" rx="50" ry="52"  stroke="rgb(218,151,33)" stroke-width="2" fill="rgb(247,193,81)"/>
                <ellipse cx="385" cy="65" rx="50" ry="52"  stroke="rgb(27,161,37)" stroke-width="2" fill="rgb(100,200,86)"/>
            </svg>
        </div>
        <div class="fund-code-header-mid-container">
            {{ if (ne $title "") }}
            {{ $title | safeHTML }}
            {{- else }}
            [ {{ $lang  | safeHTML }} ]
            {{- end }}
        </div>
        <div class="fund-code-header-right-container">
            <div class="fold-btn {{ if not $foldMode }}open{{ end }}">
                {{ partial "icon.html" "right" }}
            </div>

            <div class="copy-btn">
                {{ partial "icon.html" "copy" }}
            </div>
        </div>
    </div>
    <div class="fund-code-content">
        {{ highlight .Inner $lang .Options }}
    </div>
</div>